.banner-hour{
    max-width: 1440px;
    padding: 2rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/banners/banner-services.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-hour .content-banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    background-color: #FFF;
    padding: 2rem;
}

.banner-hour .content-banner h3{
    font-size: 1.7rem;
    font-weight: 600;
}

.banner-hour .content-banner p{
    max-width: 30ch;
}