.nav-top,
nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.8rem;
    justify-content: space-around;
    font-family: "Inter", sans-serif;
}

.nav-top {
    background-color: #0152A8;
    color: #FFF;
}

.nav-top .numbers {
    display: flex;
    gap: 4rem;
}

.nav-top .numbers p {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
   /*  z-index: 1; */
}

nav .nav-itens {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

nav .nav-itens li a {
    font-size: 1.1rem;
    color: #000;

}

nav .nav-itens li a:hover {
    color: #0152A8;
    padding: 1rem 0;
    border-bottom: solid 2px #0152A8;
}

nav .call-action {
    color: #000;
    background-color: #0FE3AF;
    padding: 1rem;
}

nav .call-action:hover {
    background-color: #bedfd8;
    transition: 0.5s;
}

nav .call-action:active {
    background-color: #b8d1cc;
}

.menu-mobile {
    display: none;
}

@media screen and (max-width: 860px) {
    nav {
        justify-content: space-between;
    }

    nav .nav-itens {
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 85vw;
        background-color: #F1F1F1;
        transition: 0.5s;
    }

    nav .nav-itens.active {
        left: 0;
    }

    nav .nav-itens li a {
        font-size: 1.7rem;
    }

    nav .call-action {
        display: none;
    }

    .menu-mobile {
        display: initial;
        z-index: 1;
    }
}

@media screen and (max-width: 480px) {
    nav .nav-itens {
        width: 100vw;
    }
}