*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6, label{
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

p, li{
    font-family: "Lato", sans-serif;
}

a, button, form, textarea{
    font-family: "Inter", sans-serif;
}

section{
    margin: 8% auto !important;
}